<div class="item">
    <img src="{{thumbnail}}" alt="Missing Image">
    <div>
        <p class="bold center">{{title}}</p>
        <p class="center">{{description}}</p>
        <a href="/post/{{id}}" class="center">Post Details</a>
    </div>
</div>
