<div id="message-{{id}}">
    <strong class="author-text smalltext">@{{username}}</strong>
    <span class="date-posted smalltext">{{created}}</span>
    <div class="comment-text smalltext">{{comment}}</div>
</div>