<header class="header-background">
    <!--<img class="banner-photo" src="public/images/banner2.png"/>-->
    <div class="topnav">
        <a class="active" href="../">Welcome</a>
        <div class="topnav-right">
            <a href="login">Login</a>
            <a href="postimage">Post</a>
            <a href="imagepost">View</a>
        </div>
        <div class="topnav-centered">
            <a href="home"><img class="banner-photo" src="public/images/banner.png"/></a>
        </div>    
    </div>
</header>