<header class="header-background">
    <a href="../"><img class="banner-photo" src="../public/images/banner.png"/></a>
    <div class="topnav">
        <a href="../">Welcome</a>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search Photos">
            <button class="button">Go</button>
        </div>
        <div class="topnav-right">
            {{#if logged}}
            <a id="logout-button" href="">Log Out</a>
            {{else}}
            <a href="/login">Log in</a>
            {{/if}}
            <a href="postimage">Post</a>
            <!--<a href="imagepost">View</a>-->
        </div>
    </div>
</header>