<div class="imagepost-box">
    <section>
        <h1 class="title">Title</h1>
    </section>
    <section>
        <h4>Author</h4>
    </section>
    <section>
        <h5>Time Posted</h5>
    </section>
    <section>
        <h4>Image</h4>
        <img src="https://fakeimg.pl/350x200/?text=Hello">
    </section>
</div>    