<form class="box" method="POST"action= "/users/login" enctype="application/x-www-form-urlencoded">
    <div class="spacing">
        <h2 class="center"><img class="login-photo"src="../public/images/login-header.png"/></h2>
        <hr>
        <label class="bold">Username</label>
        <input name="username" type=text placeholder="Username"required/>
        <br/>
        <br/>
        <label class="bold">Password</label>
        <input name="password" type="password" placeholder="Password" required/>
        <br/>
        <br/>
        <button type="submit">Submit</button>
        <p class="smalltext center">Don't have an account? <a href="registration">Register</a></p>
    </div>
</form>