<form class="box">
    <div class="spacing">
        <h2 class="center">Login</h2>
        <hr>
        <label class="bold">Username</label>
        <input type=text placeholder="Username"required/>
        <br/>
        <br/>
        <label class="bold">Password</label>
        <input type="password" placeholder="Password" required/>
        <br/>
        <br/>
        <button type="submit">Submit</button>
        <p class="smalltext center">Don't have an account? <a href="registration">Register</a></p>
    </div>
</form>