    <form class="box" method="POST" enctype="multipart/form-data" action="/posts/createPost">
    <div class="spacing">
        <label for="post-title" class="bold">Title</label>
        <br/>
        <input id="post-title" name="title" class="post-inputs"type="text" required/>
        <br/>
        <br/>

        <label for="post-desc" class="bold">Description</label>
        <br/>
        <input id="post-desc" name="description" class="desc-box" type="text" required/>
        <br/>
        <br/>

        <label for="img-select" class="bold">Choose Image</label>
        <input id="img-select" name="uploadImage" type="file" required/>
        <br/>
        
        <input type="checkbox" required/>
        <label class="smalltext">I accept the Acceptable Use Policy for uploading images</label>
        <br/>
        <br/>
        <button type="submit">Submit</button>
        <hr>
        </div>
    </form>