    <form class="box">
    <div class="spacing">
        <label class="bold">Title</label>
        <br/>
        <input class="post-inputs"type="text" required/>
        <br/>
        <br/>

        <label class="bold">Description</label>
        <br/>
        <input class="desc-box" type="text" required/>
        <br/>
        <br/>

        <label class="bold">Choose Image</label>
        <input type="file" required/>
        <br/>
        
        <input type="checkbox" required/>
        <label class="smalltext">I accept the Acceptable Use Policy for uploading images</label>
        <br/>
        <br/>
        <button type="submit">Submit</button>
        <hr>
        </div>
    </form>